:root {
  /* color scheme */
  --main-bg-color: #f3f3f3;
  --header-bg-color: #ffffff;
  --section-bg-color: #ffffff;
  --theme-color: #52a6c0;
  --text-primary-color: #333;
  --text-secondary-color: #666;

  /* text scheme */
  --logo-font: "Satisfy", cursive;

  /* layout setting */
  --header-height: 75px;
  --header-border-size: 5px;
  --header-margin-size: 5px;
}

/* Common layout template */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 80%;
  margin: var(--header-margin-size);
  background-color: var(--main-bg-color);
  border-bottom: var(--header-border-size) solid var(--theme-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 50px;
  font-weight: 400;
  padding-left: 15px;
  font-family: var(--logo-font);
  color: var(--theme-color);
}

nav ul {
  list-style: none;
  margin: 0;
  padding-right: 15px;
  display: flex;
  font-size: 1.2rem;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-primary-color);
  font-weight: bold;
}

nav ul li a:hover {
  color: var(--theme-color);
}

/* Content layout*/
main {
  display: flex;
  justify-content: center;
  width: 80%;
  height: calc(
    100vh - var(--header-height) - var(--header-border-size) -
      var(--header-margin-size) * 2
  );
  background-color: var(--main-bg-color);
  box-shadow: 8px 3px 10px 6px rgba(0, 0, 0, 0.1);
  /* background-image: url("assets/background_image.jpg"); */
  /* background-size: cover; */
}

.intro {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--section-bg-color);
  opacity: 95%;
  width: 100%;
  padding-top: 100px;
}

.intro img {
  border-radius: 10px;
  margin-right: 50px;
  height: 300px;
  object-fit: contain;
}

.intro-text {
  max-width: 600px;
}

.intro-text h1 {
  margin-top: 0px;
  font-size: 24px;
  color: var(--text-primary-color);
}

.intro-text p {
  font-size: 16px;
  color: var(--text-secondary-color);
  line-height: 1.5;
}

.intro-text a {
  color: var(--theme-color);
  text-decoration: none;
}

.intro-text a:hover {
  text-decoration: underline;
}

.contact-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.contact-links a:hover {
  text-decoration: none;
}

.contact-links img {
  width: 32px;
  height: 32px;
  margin: 0px 10px 0px 10px;
}
