/* Home Content layout*/
@import url("variables.css");

nav ul li a#projects {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
  color: var(--theme-color);
}

.intro,
.self-learning,
.personal-projects,
.future-exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  color: var(--text-secondary-color);
  line-height: 1.5;
  padding-left: 15px;
  width: 80%;
  margin-top: 15px;
}

/* self-learning sections */
.title-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary-color);
  font-size: var(--textSize-section-title);
  font-weight: bold;
  margin: 15px 0px 15px 0px;
}

.card-learn-wrapper,
.card-projects-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 0px 10% 0px 10%;
}

.card-future-exploration-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-projects-tags-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.card-learn,
.card-projects,
.card-future-exploration,
.card-projects-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 320px; /* Minimum width for the card */
  flex-grow: 1; /* Allow cards to grow */
  border: var(--card-boder-style);
  box-shadow: var(--main-shadow-style);
  padding: 25px;
  margin: 25px;
  border-radius: 10px;
}

.card-projects-placeholder {
  justify-content: center;
}

.card-future-exploration {
  width: 60%;
}

.card-learn-header,
.card-projects-header,
.card-future-exploration-header {
  font-size: var(--textSize-card-title);
  color: var(--text-primary-color);
  font-weight: bold;
  margin: 15px 0px 15px 0px;
}

.card-learn-header {
  display: flex;
  align-items: center;
}

.card-learn-img,
.card-projects-img {
  height: 200px;
  object-fit: scale-down;
  width: 100%;
  max-width: 100%;
  display: block;
}

.card-projects-img {
  margin-bottom: 15px;
}

.card-projects-placeholder .card-projects-img {
  height: 200px;
  object-fit: scale-down;
}

.card-learn-text,
.card-projects-text {
  display: flex;
  flex-direction: column;
}

.card-learn-text p,
.card-projects-text p,
.card-future-exploration ul {
  font-size: 16px;
  color: var(--text-secondary-color);
  margin: 0px;
  line-height: 1.5;
}

.card-future-exploration ul {
  margin: 0px 0px 15px 0px;
}

.card-future-exploration li {
  margin-top: 5px;
}

.sentence-break {
  color: var(--theme-color);
  font-weight: bolder;
  padding: 0px 2px 0px 2px;
}

/* General tag style */
.tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  background-color: #b9b9b9; /* Dark grey background 777777 */
  color: #fff; /* White text */
}

.card-projects-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.card-projects-links a:hover {
  text-decoration: none;
}

.card-projects-links img {
  width: 32px;
  height: 32px;
  margin: 0px 10px 0px 10px;
  box-shadow: none;
}

.card-learn-links img {
  width: 25px;
  height: 25px;
  box-shadow: none;
  margin-left: 10px;
}

/* Media query for smaller screens */
@media (min-width: 420px) and (max-width: 768px) {
  .card-learn,
  .card-projects,
  .card-future-exploration,
  .card-projects-placeholder {
    width: 80%; /* Make the card width bigger */
    min-width: 280px;
    padding: 25px 20px;
  }

  .card-learn-wrapper,
  .card-projects-wrapper {
    padding: 0px;
  }
}

/* For even smaller size. Reduce more margin size for projects card. */
@media (max-width: 420px) {
  .card-learn,
  .card-projects,
  .card-future-exploration,
  .card-projects-placeholder {
    width: 80%;
    min-width: 200px;
    padding: 25px 5px;
    margin: 25px 5px;
  }

  .card-learn-wrapper,
  .card-projects-wrapper {
    padding: 0px;
  }
}
