@import url("variables.css");

.cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.cv .title-text {
  margin-top: 30px;
}

.cv-card {
  max-width: 900px;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  border: var(--card-boder-style);
  box-shadow: var(--main-shadow-style);
  margin: 25px;
}

.profile-header .title {
  font-size: var(--textSize-section-title);
  font-weight: bold;
  color: var(--theme-color);
  padding-bottom: 20px;
}

.profile-header .job-title {
  font-size: var(--textSize-card-title);
  font-weight: bold;
  margin: 10px 0;
  color: var(--theme-color);
}

.profile-header .address,
.profile-header .contact,
.profile-header .intro-text {
  font-size: 16px;
  color: var(--text-secondary-color);
  font-weight: bold;
  line-height: 1.25;
}

.profile-header .contact {
  margin-bottom: 15px;
}

.sentence-break {
  color: var(--theme-color);
  font-weight: bolder;
  padding: 0px 2px 0px 2px;
}

.profile-header .intro-text {
  display: inline;
  font-weight: normal;
  padding: 0;
}

.section {
  margin: 25px 0;
}

.section .title {
  margin: 0 0 10px 0;
  font-size: var(--textSize-card-title);
  color: var(--text-primary-color);
  font-weight: bold;
  border-bottom: 5px solid var(--theme-color);
  padding-bottom: 5px;
}

.section ul {
  font-size: 16px;
  color: var(--text-secondary-color);
  line-height: 1.25;
  list-style-type: disc;
  padding-left: 40px;
}

.section li {
  margin-top: 5px;
}

li.skill {
  margin-top: 15px;
}

.job .employer,
.job .job-title,
.job .job-scope,
.job .job-achievement,
.education .institution {
  font-size: 16px;
  color: var(--text-primary-color);
  font-weight: bold;
}

.job .employer,
.education .institution {
  margin-top: 25px;
}

.job .job-scope,
.job .job-achievement {
  margin-top: 15px;
}

.job .job-title:nth-child(2) {
  margin-top: 15px;
}

.job-title .date,
.education .date {
  font-size: 16px;
  color: var(--text-secondary-color);
  line-height: 1.25;
  font-weight: normal;
}

.education .certification {
  font-size: 16px;
  color: var(--text-secondary-color);
  line-height: 1.25;
}
