@import url("variables.css");

nav ul li a#interests {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
  color: var(--theme-color);
}

main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.intro,
.upcoming-activities,
.past-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  color: var(--text-secondary-color);
  line-height: 1.5;
  padding-left: 15px;
  width: 80%;
  margin-top: 15px;
}

.title-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary-color);
  font-size: var(--textSize-section-title);
  font-weight: bold;
  margin: 15px 0px 15px 0px;
  width: 100%;
}

.card-upcoming {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: var(--card-boder-style);
  box-shadow: var(--main-shadow-style);
  padding: 25px;
  margin: 25px;
  border-radius: 10px;
}

.card-upcoming {
  width: 60%;
  align-items: flex-start;
}

.card-upcoming-text,
.card-past-text {
  font-size: 16px;
  color: var(--text-secondary-color);
  line-height: 1.25;
  list-style-type: disc;
  /* padding-left: 40px; */
}

.card-past-text {
  font-size: 14px;
  margin-top: 5px;
}

.card-upcoming-header {
  font-weight: bold;
  margin-top: 15px;
}

.card-upcoming-text ul {
  margin: 0px 0px 15px 0px;
}
.card-upcoming-text li {
  margin-top: 5px;
}

.card-past-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 0px 10% 0px 10%;
  width: 95%;
}

.card-past-header {
  font-size: var(--textSize-card-title);
  color: var(--text-primary-color);
  font-weight: bold;
  margin: 5px 0px 10px 0px;
}

.card-past-img {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.card-past {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  border: var(--card-boder-style);
  box-shadow: var(--main-shadow-style);
  padding: 25px;
  margin: 25px;
  border-radius: 10px;
}

.card-past:hover {
  box-shadow: var(--select-shadow-style);
  border: var(--card-select-style);
  cursor: pointer;
}

.card-past-link {
  text-decoration: none;
}

.sentence-break {
  color: var(--theme-color);
  font-weight: bolder;
  padding: 0px 2px 0px 2px;
}
